body {
	margin: 0;
	background-color: #eaeaea;
	font-family: Helvetica, Arial, sans-serif;
}
nav {
	background-color: #77BA22;
	border-bottom: 1px solid #69A41E;
	height: 55px;
	max-width: 1346px;
	margin: 0 auto;
	font-family: times, serif;
}
#nav-container {
	background-color: #69A41E;
	width: 100%;
}
#hamburger {
	float: right;
	margin: 12.5px;
}
nav ul {
	display: none;
}
nav img:not(#hamburger) {
	margin-left: 20px;
}
#content {
	max-width: 1346px;
	margin: 0 auto;
	color: #fff;
}
#mobile-banking-container {
	max-width: 520px;
	margin: 0 auto;
}
#mobile-banking {
	background-color: #eee;
	padding: 20px;
}
#mobile-banking h1 {
	font-size: 15px;
}
.login {
	background-color: #528224;
	color: #fff;
	text-decoration: none;
	width: 46.5%;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 10px;
}
#mobile-banking a {
	display: inline-block;
}
.login + .login {
	float: right;
}
#mobile-banking .contact {
	display: block;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 5px;
	color: #111;
	text-decoration: none;
}
.hours {
	list-style: none;
	padding: 0;
	color: #333;
	font-size: 13px;
}
.hours li {
	padding-bottom: 5px;
}








@media all and (min-width: 600px) {
	#mobile-banking {
		display: none;
	}
}

@media all and (min-width: 720px) {
	nav ul {
		display: block;
		margin: 0;
	}
	#hamburger {
		display: none;
	}
	nav a span {
		display: none;
	}
	nav img {
		float: left;
	}
	nav li {
		display: inline-block;
		line-height: 52.5px;
		padding-right: 20px;
	}
	nav ul:nth-of-type(1) {
		float: left;
	}
	nav ul:nth-of-type(2) {
		float: right;
	}	
	nav:after {
		content: '';
		display: block;
		clear: both;
	}
	nav a {
		color: #fff;
		text-decoration: none;
		font-size:;
	}
	/*nav a span:hover, nav a:hover {
		text-decoration: underline
	}*/
}

@media all and (min-width: 976px) {
	nav a span {
		display: inline-block;
	}
	nav li {
		padding-right: 30px;
	}
}























